:root {
    --primary-color: #2f8dfb;
    --primary-color-light: #99c0f5;
    --primary-color-dark: #1e5ea7;
    --secondary-color: #f1f1f5;
    --radius: 1.25rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.exam {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.exam h1 {
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    font-weight: 600;
}

#question-count {
    float: right;
}

.answer-btn {
    background: white;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.answer-btn:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--primary-color-dark);
}

.answer-btn.active {
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--primary-color-dark);
}

.answer-btn.correct {
    background: green;
    color: var(--secondary-color);
    border: 1px solid black;
}

.answer-btn.incorrect {
    background: darkred;
    color: var(--secondary-color);
    border: 1px solid black;
}

.quiz-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-navigation > button {
    background: transparent;
    font-weight: 500;
    font-size: 60px;
    width: 150px;
    border: none;
    padding: 5px;
    margin: 10px 0 10px;
    cursor: pointer;
}

#question-number {
    display: block;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#end-quiz {
    background: var(--primary-color);
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
}

#end-quiz:hover {
    background: var(--primary-color-dark);
}
